/* Add styling for your page here */

.App {
    background-color: rgb(210, 184, 219);
    font-family: Inter,Avenir,Helvetica,Arial,sans-serif;
    padding: 70px 20px;
    color: rgb(113, 91, 91);
}

h1 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
}

.bakery-container {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
    column-gap: 20px;
}

.bakery-item {
    background-color: rgb(245, 224, 231);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 40px;
    width: 16vw;
}

.item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-img {
    max-width: 100%;
    height: auto;
}

.price-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: larger;
    font-weight: bolder;
}

.add-to-cart {
    background-color: rgb(134, 113, 113);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 10px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.add-to-cart:hover {
    background-color: rgb(89, 69, 69);
}

.cart-container {
    padding: 0 20px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 224, 231);
    border-radius: 30px;
    padding: 40px;
    width: 18vw;
}